.Navbar-instructions {
  background: none;
  border: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: var(--color-fg);
  margin: 0px;
  padding: 0px 12px;
  cursor: pointer;
  border-radius: 2px;
}
.Instructions-popup {
  display: flex;
}

.Instructions-text {
  display: flex;
  /* text-align: center; */
  /* margin-bottom: 5%; */
  padding: 5%;
}

.child1 .child2 .child3 {
  flex: 1;
  /* display: inline-block; */
}

.Instructions-title {
  margin-bottom: 10%;
}
